<html>
    <head>
        <title>my html</title>
        <style>
            h1{
                text-align: center;
                background-color: blue;
                font-style: normal;
                font-size: 70px;
            }
            .bg-3{
              font-size: 30px;
              font-style: italic;
            }
        </style>
    </head>
    <body>
    <h1> SIGN UP PAGE</h1>
    <div class="container bg-3">
    <form action="" method="post">
        NAME:<input type="text" name="t1">
        <br>
        USERNAME:<input type="text" name="t2">
        <br>
        PASSWORD:<input type="text" name="t3">
        <br>
        PHONENUMBER:<input type="text" name="t4">
        <br>
        PLACE:<input type="text" name="t5">
        <br>
        <input type="submit" value="submit">
    </form>
    </div>
    </body>
</html>